.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.form-signin form {
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.form-signin,
.form-posts {
    padding: 50px 0;
}

.checkPassBox {
    text-align: start;
}

.checkPassword {
    cursor: pointer;
    user-select: none;
}

.form-posts form {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.label_select_file {
    cursor: pointer;
}

.select_file {
    text-align: start;
}

.card_img {
    aspect-ratio: 1 / 0.7;
}

.card {
    padding: 10px !important;
    width: 32% !important;
}

.album {
    display: flex;
    justify-content: center;
}

.post_list {
    gap: 1%;
}

.profile {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.profile h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: white;
}

.modal {
    position: absolute !important;
    background: rgba(0, 0, 0, 0.816) !important;
}

.createProfile .wrapper {
    width: 30%;
}

.avatar-box {
    text-align: center;
}

.avatar {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 100px;
    border: 2px solid white;
    overflow: hidden;
}

.post {
    padding: 0 100px;
}

.form_change_profile {
    position: absolute;
    top: 0;
    background: #000000e5;
    width: 100%;
    padding: 100px 550px;
    height: 100vh;
}

.change_profile_close {
    display: flex;
    justify-content: space-between;
}

.change_profile_close button {
    font-size: 22px;
}

.links_profile {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.form_search {
    width: 30%;
    margin: 0 auto;
}

.admin_table {
    width: 70%;
    margin: 0 auto;
}

.admin_table_row {
    cursor: pointer;
}

.loading {
    height: 100%;
    align-content: center;
    width: 100%;
    margin: 20px 0;
}